@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .on-border {
    @apply border-b border-slate-100 dark:border-slate-700 p-3 text-slate-500 dark:text-slate-400 shadow-sm relative rounded-xl overflow-hidden;
  }

  .on-input {
    @apply border rounded-md p-1 px-[8px] border-gray-300;
  }

  .on-fix-index {
    @apply relative z-[2];
  }

  .on-header {
    @apply w-full bg-white text-thirdary font-bold text-lg mb-[5px];
  }

  .on-btn-confirm {
    @apply w-auto bg-gray-300 font-bold p-[3px] mx-[10%] w-[80%];
  }

  .on-btn {
    @apply m-[10px] text-white rounded-xl border border-zinc-400 p-[5px];
  }

  .on-btn-presser {
    @apply on-btn bgPresser;
  }

  .on-btn-wheelman {
    @apply on-btn bgWheelman !border-sky-100;
  }

  .on-table-td {
    @apply border border-slate-400 h-[40px];
  }
}

:root {
  --background: #EEEEEE;
  --foreground: #171717;
  --bg-presser: #23558A;
  --bg-wheelman: #4A90E2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #EEEEEE;
  }
}

body {
  overflow-y:auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bgPresser {
  background-color: var(--bg-presser);
}

.bgPresser300 {
  background-color: #A7CAF1;
}

.bgWheelman {
  background-color: var(--bg-wheelman);
}

.bgWheelman300 {
  background-color: #A7CAF1;
}

.testoProva {
  color: rgba(62, 86, 95, 1) !important;
}

.backgroundProva2 {
  background-color: rgba(36, 135, 148, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 40;
}

/* Alert Box Styles */
.alert-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-width: 0.5;
  /* border-radius: 5px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 999;
}

.title-alert {
  font-size: 1.4em;
}

/* Specific Alert Types */
.error {
  border-color: rgb(255, 128, 128);
  background-color: rgb(226, 200, 200);
  color: black;
}

.note {
  border-color: rgb(144, 250, 236);
  background-color: rgb(227, 242, 240);
  color: black;
}

.confirmed {
  border-color: #9eb3f8;
  background-color: #E1E5F2;
  color: rgb(0, 0, 0);
}

.confirmed-print {
  background-color: rgb(5, 181, 61);
  color: white;
}

.update {
  background-color: rgb(225, 229, 242);
  color: white;
}

/* Button Styles */
.alert-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.error-button {
  background-color: rgb(214, 70, 70);
  color: white;
}

.note-button {
  background-color: rgb(102, 150, 145);
  color: white;
}

.confirmed-button {
  background-color: #c9cedf;
  color: rgb(255, 255, 255);
}

.update-button {
  background-color: seagreen;
  color: white;
}


.truncate { 
  white-space: nowrap; 
  width: 110px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.draggable-wrapper {
  position: relative;
  top: auto;
  /* left: 50%; */
  transform: none; 
  width: 100%;
  /* z-index: 9999; /* opzionale per sovrapporre */
}

.consolas {
  font-family: 'Courier New', Courier, monospace;
}

.loader-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  border: 4px solid #e5e7eb;
  border-top-color: #0ea5e9;
  animation: spin .8s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 480px) {
  html {
    font-size:  12px;
  }
  .table-wrapper {
      height: 50vh;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .table-wrapper {
      height: 50vh;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
  .table-wrapper {
      height: 65vh;
  }

}

@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
  .table-wrapper {
      height: 70vh;
  }

}

