@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .on-fix-index {
    @apply relative z-[2];
  }

  .on-header {
    @apply w-full bg-white text-thirdary font-bold text-2xl rounded-[5px] mb-[5px];
  }

  .on-btn-confirm {
    @apply w-auto bg-gray-300 font-bold p-[3px] mx-[10%] w-[80%];
  }

  .on-btn-presser {
    @apply m-[10px] rounded-md bg-gray-300 p-[5px];
  }

  .on-table-td {
    @apply border border-slate-400 h-[40px];
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 40;
}

/* Alert Box Styles */
.alert-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 999;
}

/* Specific Alert Types */
.error {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.note {
  background-color: rgb(227, 242, 240);
  color: black;
}

.confirmed {
  background-color: rgb(5, 181, 61);
  color: white;
}

.confirmed-print {
  background-color: rgb(5, 181, 61);
  color: white;
}

.update {
  background-color: rgb(225, 229, 242);
  color: white;
}

/* Button Styles */
.alert-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.error-button {
  background-color: darkred;
  color: white;
}

.note-button {
  background-color: rgb(149, 224, 216);
  color: white;
}

.confirmed-button {
  background-color: seagreen;
  color: white;
}

.update-button {
  background-color: seagreen;
  color: white;
}


.truncate { 
  white-space: nowrap; 
  width: 80px; 
  overflow: hidden;
  text-overflow: ellipsis;
}